<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <div>
        <p> Add new user:</p>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">

        <br>

        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age">

        <br>

        <input type="submit" value="Add user">
    </div>
</form>
</body>
</html>